{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            {% if 'create' in request.path %}
                <p class="title">CREATE LEVEL</p>
            {% else %}
                <p class="title">UPDATE LEVEL</p>
            {% endif %}
            {% for m in messages %}
                {{ m }}
            {% endfor %}
            <form class="flex-column" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <div class="button-submit">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}