{% extends 'base.html' %}
{% load static %}
{% block extrascript %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="list-page">
        <p class="title" style="text-align: center;">LIST ORDER</p>
        {% for m in messages %}
            {{ m }}
        {% endfor %}
        <div class="flex-end">
            <form class="sort" method="get" style="width: 100%">
                {% for f in form %}
                    <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                    </div>
                {% endfor %}
                <div class="align-end">
                    <button type="submit" class="button-apply" data-toggle="modal">APPLY</button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id Pesanan</th>
                    <th>Daftar Barang</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in result %}
                    <tr>
                        <td>{{ i.0 }}</td>
                        <td>
                            <ul>
                                {% for k in i.1 %}
                                    <li>{{ k.0 }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ i.2 }}</td>
                        <td>{{ i.3 }}</td>
                        <td class="flex-row">
                            <!-- Admin -->
                            <a href="{% url 'order:edit-order' id_pemesanan=i.0 %}"
                               class="button-delete flex-center">UPDATE</a>
                            {% if request.session.role == 'anggota' %}
                                <div class="button-delete flex-center" data-toggle="modal"
                                     data-target="#modal-{{ forloop.counter  }}">DELETE
                                </div>
                            {% endif %}
                            <div class="modal fade" id="modal-{{ forloop.counter }}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">Are you sure want to delete?</div>
                                        <div class="modal=footer flex-end my-3">
                                            <button type="button" class="button-cancel flex-center"
                                                    data-dismiss="modal">CANCEL
                                            </button>
                                            <a href="{% url 'order:delete-order' id_pemesanan=i.0 %}"
                                               class="button-delete flex-center">DELETE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'partials/pagination.html' %}
{% endblock %}