{% extends 'base.html' %}
{% load static %}
{% block extrascript %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="list-page">
        <p class="title" style="text-align: center;">LIST LEVEL</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Level</th>
                    <th>Deskripsi</th>
                    <th>Minimum Poin</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in result %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.0 }}</td>
                        <td>{{ i.1 }}</td>
                        <td>{{ i.2 }}</td>
                        <td class="flex-row">
                            <a href="{% url 'level:edit-level' nama_level=i.0 %}"
                               class="button-delete flex-center">UPDATE
                            </a>
                            <div class="button-delete flex-center" id="{{ forloop.counter }}" data-toggle="modal"
                                 data-target="#modal-{{ forloop.counter }}">DELETE
                            </div>
                            <div class="modal fade" id="modal-{{ forloop.counter }}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">Are you sure want to delete?</div>
                                        <div class="modal=footer flex-end my-3">
                                            <button type="button" class="button-cancel flex-center"
                                                    data-dismiss="modal">CANCEL
                                            </button>
                                            <a href="{% url 'level:delete-level' nama_level=i.0 %}"
                                               class="button-delete flex-center">DELETE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}