{% extends 'base.html' %}
{% block extrastyle %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            {% if 'make' in request.path %}
                <p class="title">MAKE ORDER</p>
            {% else %}
                <p class="title">EDIT ORDER</p>
            {% endif %}
            {% for m in messages %}
                {{ m }}
            {% endfor %}
            <form class="flex-column" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <div class="button-submit">
                    {% if 'make' in request.path %}
                        <input type="submit" value="Submit">
                    {% else %}
                        <input type="submit" value="Update">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {{ form.media.js }}
{% endblock %}