{% load static %}
<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar -->
        <div class="collapse navbar-collapse justify-content-between align-items-center" id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-between align-items-center">
                <div class="flex-row align-items-center">
                    <a><img alt='logo' src="{% static 'img/toy-rent-logo.png' %}" class="toy-rent-logo"></a>
                   <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> ITEM </a>
                      <div class="dropdown-menu">
                          {% if request.session.role == 'admin' %}
                        <a class="dropdown-item" href="{% url 'items:add-item' %}">ADD ITEM</a>
                          {% endif %}
                        <a class="dropdown-item" href="{% url 'items:list-item' %}">LIST ITEM</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> TOY </a>
                      <div class="dropdown-menu">
                          {% if request.session.role == 'admin' %}
                        <a class="dropdown-item" href="{% url 'toys:toys_add' %}">ADD TOY</a>
                          {% endif %}
                        <a class="dropdown-item" href="{% url 'toys:toys_list' %}">LIST TOY</a>
                      </div>
                    </li>
                {% if request.session.role == 'admin' %}
                     <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> LEVEL </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'level:create-level' %}">ADD LEVEL</a>
                        <a class="dropdown-item" href="{% url 'level:list-level' %}">LIST LEVEL</a>
                      </div>
                    </li>
                {% endif %}
                     <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> ORDER </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'order:make-order' %}">MAKE ORDER</a>
                        <a class="dropdown-item" href="{% url 'order:list-order' %}">LIST ORDER</a>
                      </div>
                    </li>
                     <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> SHIPMENT </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">MAKE SHIPMENT</a>
                        <a class="dropdown-item" href="#">LIST SHIPMENT</a>
                      </div>
                    </li>
                    <li class="nav-item font-navbar">
                        <a class="nav-link" href="#">REVIEW TOYS</a>
                    </li>
                    <li class="nav-item font-navbar">
                        {% if request.session.role == 'admin' %}
                            <a class="nav-link" href="{% url 'chat:list-chat' %}">CHAT</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'chat:chat' %}">CHAT</a>
                        {% endif %}
                    </li>
                </div>
                <div class="flex-row align-items-center">
                    <li class="nav-item font-navbar">
                        <a class="nav-link" href="{% url 'auth:profile' %}">PROFILE</a>
                    </li>
                    <li class="nav-item font-navbar">
                        <a class="nav-link" href="{% url 'auth:logout' %}">LOGOUT</a>
                    </li>
                <div>
            </ul>
        </div>
    </nav>
</header>