{% load static %}
<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar -->
        <div class="collapse navbar-collapse justify-content-between align-items-center" id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-between align-items-center">
                <div class="flex-row align-items-center">
                    <a><img alt="logo" src="{% static 'img/toy-rent-logo.png' %}" class="toy-rent-logo"></a>
                </div>
                <div class="flex-row align-items-center">
                    <li class="nav-item font-navbar">
                        <a class="nav-link" href="{% url 'auth:login' %}">LOGIN</a>
                    </li>
                    <li class="nav-item font-navbar">
                        <a class="nav-link" href="{% url 'registration' %}">REGISTRATION</a>
                    </li>
                <div>
            </ul>
        </div>
    </nav>
</header>