{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            <p class="title">CHOOSE ROLE TO REGISTER</p>
            <div class="flex-row">
                <a class="button-delete flex-center" href="{% url 'registration' %}?role=admin">ADMIN</a>
                <a class="button-delete flex-center" href="{% url 'registration' %}?role=anggota">ANGGOTA</a>
            </div>
        </div>
    </div>
{% endblock %}