{% extends 'base.html' %}
{% block extrastyle %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            {% if '/item/edit-item/' in request.path %}
                <p class="title">UPDATE ITEM</p>
            {% else %}
                <p class="title">ADD ITEM</p>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            {% endif %}
            <form  class="flex-column" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <div class="button-submit">
                    {% if '/item/edit-item/' in request.path %}
                        <input type="submit" value="Update">
                    {% else %}
                        <input type="submit" value="Submit">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {{ form.media.js }}
{% endblock %}