{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="list-page">
        <p class="title" style="text-align: center;">LIST ITEM</p>
        {% for m in messages %}
            {{ m }}
        {% endfor %}
        <div class="flex-end">
            <form class="sort" method="get" style="width: 100%">
                {% for f in form %}
                    <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                    </div>
                {% endfor %}
                <div class="align-end"><button type="submit" class="button-apply" data-toggle="modal">APPLY</button></div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama item</th>
                    <th>Kategori</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in result %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.0 }}</td>
                        <td><div>
                            {% for k in i.1 %}
                                {{ k.0 }},
                            {% endfor %}
                        </div></td>
                        <td></td>
                        <td class="flex-row">
                            <a href="{% url 'toys:toys_list' %}?item={{ i.0 }}"> <div style="width: 150px" class="button-delete flex-center">BARANG</div></a>
                            <!-- Admin -->
                            {% if request.session.role == 'admin' %}
                                <a class="button-delete flex-center" href="{% url 'items:edit-item' nama=i.0 %}">UPDATE</a>
                                <button type="button" class="button-delete flex-center" data-toggle="modal"
                                        data-target="#m{{ forloop.counter }}">DELETE
                                </button>

                                <div class="modal fade" id="m{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure want to delete?</div>
                                            <div class="modal=footer flex-end">
                                                <button type="button" class="button-cancel flex-center"
                                                        data-dismiss="modal">CANCEL
                                                </button>
                                                <a href="{% url 'items:delete-item' nama=i.0 %}"
                                                   class="button-delete flex-center">DELETE</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'partials/pagination.html' %}
    {% block extrascript %}
        <script src="{% static 'js/modal.js' %}"></script>
    {% endblock %}
{% endblock %}