{% extends 'base.html' %}
{% block content %}
<div class="form-page">
        <div class="container-form">
             <p class="title">LOGIN</p>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <form  class="flex-column" method="post">
                {% csrf_token %}
                <div class="form-field flex-column">
                    <label for="no_ktp">Nomor Ktp</label>
                    <input name="nomor_ktp" type="number">
                </div>
                <div class="form-field flex-column">
                    <label for="email">Email</label>
                    <input name="email" type="email">
                </div>
                <div class="button-submit">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
{% endblock %}