{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            <p class="title">PROFILE</p>
        {% if request.session.role == 'anggota' %}
            <p class="title">POIN: {{ data_level.poin }}</p>
            <p class="title">LEVEL: {{ data_level.level }}</p>
        {% endif %}
            <form  class="flex-column">
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}