{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
        {% if messages %}
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            {% endif %}
            <p class="title">REGISTRATION</p>
            <form  class="flex-column" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                {% if adress %}
                    <p class="title">ALAMAT</p>
                    {% for f in adress.forms %}
                        <div class="form-field flex-column formset">
                            <label>{{ f.label }}</label>
                            {{ f }}
                        </div>
                    {% endfor %}
                    {{ adress.management_form }}
                {% endif %}
                <div class="button-submit">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    {% if adress %}
        <script src="{% static 'michael/js/jquery.formset.js' %}"></script>
        <script type="text/javascript">
            $(function() {
                $('.formset').formset({
                    prefix: '{{ adress.prefix }}'
                });
            })
        </script>
    {% endif %}
{% endblock %}