{% extends 'base.html' %}
{% block content %}
<div class="list-page">
      <p class="title" style="text-align: center;">LIST ITEM</p>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Id Pengiriman</th>
                <th>Barang</th>
                <th>Review</th>
                <th>Tanggal Review</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>A</td>
                <td>Ok</td>
                <td>5 Mei 2019</td>
                <td class="flex-row">
                  <!-- Admin -->
				{% if request.session == true %}
					<div class="button-delete flex-center">UPDATE</div>
					<div class="button-delete flex-center">DELETE</div>
                {% endif %}
                </td>
              </tr>
               <tr>
                <td>2</td>
                <td>B</td>
                <td>Bagus</td>
                <td>1 Mei 2019</td>
                <td class="flex-row">
                  <!-- Admin -->
                  <div class="button-delete flex-center">UPDATE</div>
                  <div class="button-delete flex-center">DELETE</div>
                </td>
              </tr>

            </tbody>
          </table>
          </div>
      </div>
  </div>
  {% endblock %}