{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            <p class="title">FORM PENAMBAHAN PENGIRIMAN</p>
            
            <!-- form -->
            <form class="flex-column" method="post">
                {% csrf_token %}

                <!-- mesti ada session -->
                <!-- barang pesanan -->
                <div class="form-group">
                    <label for="barangpesanan">ID Pesanan</label>
                    <input type="text" class="form-control" id="barangpesanan" placeholder="1">
                </div>

                <!-- alamat tujuan -->
                <div class="form-group">
                    <label for="alamattujuan">Alamat Tujuan</label>
                    <input type="text" class="form-control" id="alamattujuan" placeholder="Rumah">
                </div>

                <!-- tanggal pengiriman -->
                <!-- masih perlu difix ini -->
                <div class="form-group">
                    <label for="tanggal">Tanggal</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" placeholder="5 Mei 2019">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>


                <!-- metode -->
                <div class="form-group">
                    <label for="metode">Metode</label>
                    <input type="text" class="form-control" id="metode" placeholder="Minta COD">
                </div>

                <!-- submit button -->
                <div class="button-submit">
                    <input type="submit" value="Submit">
                </div>

            </form>
        </div>
    </div>
{% endblock %}
