{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            <p class="title">SHIPPING</p>
            <form class="flex-column" method="post">
                {% csrf_token %}
                {$ for f in form %}
                    <dir class="form-field flex-column formset">
                        <label>{{f.label}}</label>
                        {{f}}
                    </dir>
                {$ endfor %}
                <div class="button-submit">
                    <input type="submit" name="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
