{% extends 'base.html' %}
{% block content %}
<div class="list-page">
      <p class="title" style="text-align: center;">LIST ITEM</p>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Id Pengiriman</th>
                <th>Daftar Barang</th>
                <th>Harga Total</th>
                <th>Tanggal Pengiriman</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                	<ul>
                		<li>A</li>
                		<li>C</li>
                	</ul>
            	</td>
                <td>Rp50.000</td>
                <td>5 Mei 2019</td>
                <td class="flex-row">
                  <!-- Admin -->
                  <div class="button-delete flex-center">UPDATE</div>
                    {% if request.session == true %}
                  <div class="button-delete flex-center">DELETE</div>
                    {% endif %}
                </td>
              </tr>
               <tr>
                <td>2</td>
                <td>
                	<ul>
                		<li>B</li>
                	</ul>
                </td>
                <td>Rp30.000</td>
                <td>1 Mei 2019</td>
                <td class="flex-row">
                  <!-- Admin -->
                  <div class="button-delete flex-center">UPDATE</div>
                  <div class="button-delete flex-center">DELETE</div>
                </td>
              </tr>

            </tbody>
          </table>
          </div>
      </div>
  </div>
  {% endblock %}