body {
    background-color: #f8f9fa !important;
    background-image: url("/static/img/asset-background.9d966bc148d2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.form-page {
    padding: 4rem 20rem;
}

.list-page {
    padding: 3rem 3rem 2rem 3rem;
}

.navbar-light .navbar-nav {
    color: #313131 !important;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: #1c1259 !important;
}

.nav-item {
    margin-right: 1rem;
}

.dropdown-item {
    font-weight: bold !important;
    color: rgba(0, 0, 0, .5) !important;
}

a:hover {
    color: #1c1259 !important;
}

a:active {
    background-color: #f6f6f6 !important;
}

.title {
    font-weight: bold;
    font-size: 28px;
    color: #313131;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    width: 100%;
}

.yellow {
    color: #FCD307;
}

.black {
    color: #313131;
}

.pink {
    color: #ee4266;
}

.toy-rent-logo {
    width: 64px;
    margin: 0 2rem 0 1rem;
}

.container-form {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    padding: 2rem 4rem;
}

textarea {
    background-color: #f8f9fa;
    border-style: none;
    border-radius: 8px;
}

.select2-selection__rendered {
    background-color: #f8f9fa;
    border-style: none;
    border-radius: 8px;
}

input, select {
    background-color: #f8f9fa;
    border-style: none;
    height: 48px;
    border-radius: 8px;
}

.form-field {
    margin-bottom: 1rem;
}

input[type=submit] {
    width: 20%;
    background-color: #f9e271;
    opacity: 50%;
}

.button-submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}

input[type=submit]:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.button-delete {
    font-weight: bold;
    width: 25%;
    height: 36px;
    border-radius: 8px;
    background-color: #f9e271;
    opacity: 50%;
    margin: 0 0.5rem;
}

.button-delete:hover, .button-cancel:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sort{
    display: flex;
}

/*POPUP*/

.button-cancel {
    font-weight: bold;
    width: 25%;
    height: 36px;
    border-radius: 8px;
    background-color: #f6f6f6;
    opacity: 50%;
    margin: 0 0.5rem;
}

.form-group {
    margin: 1rem;
    width: 15%;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-apply {
 	font-weight: bold;
 	width: 100%;
 	height: 36px;
 	border-radius: 8px;
	background-color: #f9e271;
	opacity: 50%;
	margin: 0 0.5rem 1rem 0.5rem;

 }

.align-end {
    width: 10%;
    display: flex;
    align-items: flex-end;
}








