{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat_room.css' %}"/>
{% endblock %}
{% block content %}
    <div class="list-page">
    <p class="title" style="text-align: center;">LIST CHAT</p>
    <div class="table-responsive">
    <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                </thead>
                <tbody>

                {% for c in chats %}
                    <tr>
                    <td><a href="{% url 'chat:chat' %}?user-ktp={{ c.1.0 }}">{{ c.0.0 }}</a> </td>
                    </tr>
                {% endfor %}

                </tbody>
    </table>
    </div>
    </div>
{% endblock %}