{% extends 'base.html' %}
{% load static %}
{% load %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat_room.css' %}"/>
{% endblock %}
{% block content %}
    <div class="jumbotron bg-transparent">
        <div class="row m-0 p-0 position-relative">
            <div class="col-12 p-0 m-0 position-absolute" style="right: 0px;">
                <div class="card border-0 rounded"
                     style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01); overflow: hidden; height: 100vh;">

                    <div class="card-header p-1 bg-light border border-top-0 border-left-0 border-right-0"
                         style="color: rgba(96, 125, 139,1.0);">


                        <h6 class="float-left" style="margin: 0px; margin-left: 10px;"> {% if request.session.role == 'user' %}ADMIN
                            {% else %}{{ chats.0.no_ktp_anggota.no_ktp.nama_lengkap }}{% endif %}
                        </h6>

                    </div>

                    <div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
                        <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent"
                             style="overflow-y: auto; height: 100vh;">
                            {% for c in chats %}
                                <div class="{% if request.session.role == 'admin' %}
                                {% if c.is_sender_admin %}balon1{% else %}balon2 {% endif %}
{% else %} {% if c.is_sender_admin %}balon2{% else %}balon1 {% endif %}{% endif %} p-2 m-0 position-relative" data-is="{{ c.date_time }}">

                                    <a class=" {% if request.session.role == 'admin' %}
                                {% if c.is_sender_admin %}float-right{% else %}float-left {% endif %}
{% else %} {% if c.is_sender_admin %}float-left{% else %}float-right {% endif %}{% endif %}">{{c.pesan}}</a>

                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="w-100 card-footer p-0 bg-light border border-bottom-0 border-left-0 border-right-0">

                        <form class="m-0 p-0" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <div class="row m-0 p-0">
                                <div class="col-9 m-0 p-1">

                                    <input id="text" class="mw-100 border rounded form-control" type="text" name="pesan"
                                           title="Type a message..." placeholder="Type a message..." required>

                                </div>
                                <div class="col-3 m-0 p-1">

                                    <button class="btn btn-outline-secondary rounded border w-100" title="Gönder!" type="submit"
                                            style="padding-right: 16px;"><i class="fa fa-paper-plane"
                                                                            aria-hidden="true"></i></button>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}