{% extends 'base.html' %}
{% block content %}
    <div class="list-page">
        <p class="title" style="text-align: center;">LIST BARANG</p>
    {% for m in messages %}
    {{ m }}
    {% endfor %}
    {% if 'item=' not in request.get_full_path  %}
    <div class="flex-end">
            <form class="sort" method="get" style="width: 100%">
            {% for f in form %}
            <div class="form-group">
            {{ f.label }}
            {{ f }}
            </div>
            {% endfor %}
                <div class="align-end"><button type="submit" class="button-apply" data-toggle="modal">APPLY</button></div>
            </form>
        </div>
    {% endif %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID Barang</th>
                    <th>Nama Item</th>
                    <th>Warna</th>
                    <th>Kondisi</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for b in item %}
                    <tr>
                        <td>{{ b.id_barang }}</td>
                        <td>{{ b.nama_item.nama }}</td>
                        <td>{{ b.warna }}</td>
                        <td>{{ b.kondisi }}</td>
                        <td class="flex-row">
                            <a href="{% url 'toys:toys_detail' id_barang=b.id_barang %}"><div style="width: 150px" class="button-delete flex-center">DETAIL BARANG</div></a>
                            {% if request.session.role == 'admin' %}
                                <a href="{% url 'toys:update-barang' id_barang=b.id_barang %}"><div style="width: 150px" class="button-delete flex-center">UPDATE</div></a>
                                <button type="button" class="button-delete flex-center" data-toggle="modal"
                                        data-target="#m{{ forloop.counter }}">DELETE
                                </button>
                                <div class="modal fade" id="m{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">DELETE NOTIFICATION</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure want to delete?</div>
                                            <div class="modal=footer flex-end">
                                                <button type="button" class="button-cancel flex-center"
                                                        data-dismiss="modal">CANCEL
                                                </button>
                                                <a href="{% url 'toys:delete-barang' id_barang=b.id_barang %}"
                                                   class="button-delete flex-center">DELETE</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% else %}
                                <label>Tandai</label>
                                <input type="checkbox">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'partials/pagination.html' %}
{% endblock %}