{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
    {% for m in messages %}
    {{ m }}
    {% endfor %}
        <div class="container-form">
        {% if '/toys/update-barang/' in request.path %}
                <p class="title">UPDATE BARANG</p>
            {% else %}
                <p class="title">FORM PENAMBAHAN BARANG</p>
            {% endif %}
            <form class="flex-column" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <h3>Info Barang</h3>

                {% for f in formset %}
                    {% for field in f %}
                        <div class="form-field flex-column">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="button-submit">
                    <input type="submit" value="Submit">
                </div>
            {{ formset.management_form }}
            </form>
        </div>
    </div>
{% endblock %}