{% extends 'base.html' %}
{% block content %}
    <div class="form-page">
        <div class="container-form">
            <p class="title">DETAIL BARANG</p>
            <form class="flex-column">
                {% for f in form %}
                    <div class="form-field flex-column">
                        <label>{{ f.label }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <h3>Info Barang</h3>
                {% for f in formset %}
                    {% for field in f %}
                        <div class="form-field flex-column">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}
            <h3>REVIEW</h3>
            {% for r in review %}
            No.{{ forloop.counter }}<br>
            Review: {{ r.0 }}<br>
            Datetime: {{ r.1 }}
                <br><br><br>
            {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}